<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="GraduateProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.lunifera.vaaclipse.addons.app.application"
            name="GraduateProduct">
      	 <property
               name="applicationXMI"
               value="com.lunifera.graduate.ui.application/Application.e4xmi">
         </property>
         <property
               name="applicationWidgetset"
               value="platform:/plugin/com.lunifera.graduate.widgetset/resources/com.lunifera.graduate.widgetset.GraduateWidgetset">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="vaadin.productionMode"
               value="false">
         </property>
         <property
               name="vaadin.disable-xsrf-protection"
               value="true">
         </property>
         <property
               name="cssTheme"
               value="reindeer">
         </property>
         <property
               name="appName"
               value="GraduateProduct">
         </property>
      </product>
   </extension>
</plugin>
